#   ____  ____   _____
#  / __ \|  _ \ / ____|
# | |  | | |_) | |     ___  _ __ ___
# | |  | |  _ <| |    / _ \| '__/ _ \
# | |__| | |_) | |___| (_) | | |  __/
#  \___\_\____/ \_____\___/|_|  \___|

## FiveM Documentation
## https://aka.cfx.re/server-commands

## QBCore Documentation
## https://docs.qbcore.org

## You CAN edit the following:
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
sv_maxclients 48
set steam_webApiKey "2EC88773EFCB7BFDDE26A8F61C639966"
sets tags "ALTUS, roleplay, city, pt, portugal, portuguese, psp, inem, patreon, qbcore, fivem, drogas, trabalhos, recente, novo, epri, goe, mapas otimizados, scripts unicos, staff ativa, qb-core"

## You MAY edit the following:
sv_licenseKey "cfxk_GG8tzb1FMbjSjZib4gXz_MY3Lv"
sv_hostname "ALTUS Roleplay"
sets sv_projectName "^6 ALTUS RP"
sets sv_projectDesc "Em desenvolvimento!"
sets locale "pt-PT"
load_server_icon myLogo.png
set sv_enforceGameBuild 2699
set mysql_connection_string "mysql://root@localhost/QBCoreFramework_12348C?charset=utf8mb4"

# Voice config
setr voice_useNativeAudio 1
setr voice_useSendingRangeOnly 1
setr voice_debugMode 1
setr voice_zoneRadius 300
# setr voice_use3dAudio “true”
setr voice_enableUi 1
setr voice_enableProximityCycle 1
setr voice_enableRadios 1
setr voice_enablePhones 1
setr voice_defaultVolume 1
setr voice_enableSubmix 1
setr voice_defaultCycle "`"
setr voice_defaultRadio "CAPS"
setr voice_defaultRadio "19"
setr voice_syncData 1
setr voice_enableRadioAnim 1

# QBCore locale config
setr qb_locale "en"

# QBCore UseTarget
setr UseTarget true

# These resources will start by default.
ensure mapmanager
ensure okokChatV2
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure basic-gamemode
ensure hardcap
ensure baseevents

#-----------------------------#
# [EN] Nested configs!
exec resources.cfg
#-----------------------------#

## Permissions ##
add_ace group.admin command allow # allow all commands
#add_principal identifier.{{principalMasterIdentifier}} qbcore.god <- doesn't exist yet, change the generated one below to qbcore.god
add_principal identifier.fivem:1920077 group.admin #Ruben_GPlays
add_principal identifier.license:7bdcc50b7192f1d34bd6953eaa3821cf64f62e0b group.admin #Ruben_GPlays

# Resources
add_ace resource.qb-core command allow # Allow qb-core to execute commands

# Gods
add_ace qbcore.god command allow # Allow all commands

# Inheritance
add_principal qbcore.god group.admin # Allow gods access to the main admin group used to get all default permissions
add_principal qbcore.god qbcore.admin # Allow gods access to admin commands
add_principal qbcore.admin qbcore.mod # Allow admins access to mod commands

# ox-lib
add_ace resource.ox_lib command.add_ace allow
add_ace resource.ox_lib command.remove_ace allow
add_ace resource.ox_lib command.add_principal allow
add_ace resource.ox_lib command.remove_principal allow
